.document {
    background-color: rgba(172, 172, 172, 0.842);
}

h1 {
    background-color: rgba(42, 184, 42, 0.404);
}

h3 {
    font-weight: bolder;
}

#paragraph1 {
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    width: 600px;
}

#paragraph2 {
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    width: 600px;
}

#paragraph3 {
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    width: 600px;
}

#paragraph4 {
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    width: 600px;
}

#contactDetails {
    color: black;
    font-size: 20px;
}

#listHeader {
    color: black;
    font: 20px;
}